@model School
@{
    ViewData["Title"] = "Delete school";
}

<h1>Delete?</h1>


<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedDayGroups)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtendedDayGroups)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalOpportunities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalOpportunities)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classes)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shelter)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maps)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isConfirmed)
        </dd>

        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    </div>
</form>

