@using SchoolFinderWeb.Models
@model School
@{
    ViewData["Title"] = "School";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="col-12">
            <h2 class="mb-30 school-title">@Model.Name</h2>
        </div>
        <div class="school-container">
            <div class="school-details">
                <p class="school-detail">Адреса: @Model.Address</p>
                <p class="school-detail">Район: @Model.District</p>
                <p class="school-detail">Тип школи: @Model.Type</p>
                <p class="school-detail">Ціна: @Model.Price грн</p>
                <p class="school-detail">Группа продовженного дня: @Model.ExtendedDayGroups</p>

                <p class="article-details">@Model.Description</p>
            </div>
            <div>
                <img src="~/img/core-img/school.png" alt="" width="256px">
            </div>
        </div>
        <!-- Google Maps Start -->
        <div class="akame-google-maps-area mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.433763021863!2d28.646019899999995!3d50.265159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64c2a23713eb%3A0x2b4ffd416b704c12!2z0YPQuy4g0JvQtdGB0Lgg0KPQutGA0LDQuNC90LrQuCwgNywg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAx!5e0!3m2!1sru!2sua!4v1716546409825!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
