@model SchoolFinderWeb.ViewModels.SchoolProfileViewModel

@{
    ViewData["Title"] = "School";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<!-- School Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="col-12">
            <h2 class="mb-30 school-title">@Model.School.Name</h2>
        </div>
        <div class="school-container p-3">
            <div class="school-details">
                <p class="school-detail">Адреса: @Model.School.Address</p>
                <p class="school-detail">Район: @Model.School.District</p>
                <p class="school-detail">Тип школи: @Model.School.Type</p>
                <p class="school-detail">Ціна: @Model.School.Price грн</p>
                <p class="school-detail">Формат навчання: @Model.School.Format</p>
                <p class="school-detail">Класи: @Model.School.Classes</p>

                @if (@Model.School.ExtendedDayGroups)
                {
                    <p class="school-detail"> Группа продовженного дня: Є</p>
                }
                else
                {
                    <p class="school-detail"> Группа продовженного дня: Немає</p>
                }
                </p>

                @if (@Model.School.Specialization)
                {
                    <p class="school-detail">Поглиблене вивчення (гуманітарне, математичне тощо): Є</p>
                }
                else
                {
                    <p class="school-detail">Поглиблене вивчення (гуманітарне, математичне тощо):Немає</p>
                }

                @if (@Model.School.AdditionalOpportunities)
                {
                    <p class="school-detail">Наявність додаткових освітніх можливостей: Є</p>
                }
                else
                {
                    <p class="school-detail">Наявність додаткових освітніх можливостей: Немає</p>
                }

                @if (@Model.School.Shelter)
                {
                    <p class="school-detail"> Наявність укриття: Є</p>
                }
                else
                {
                    <p class="school-detail"> Наявність укриття: Немає</p>
                }
                </p>
            </div>
            <div>
                <img src="~/img/core-img/school.png" alt="" width="256px">
            </div>
        </div>
        <div>
            <div class="findschool-btn">
                <!-- Кнопка для добавления в избранное -->
                <div class="heart-icon mt-4 mt-lg-0">
                    <a href="#" onclick="addToFavorites(event, this, @Model.School.SchoolID)" class="btn akame-btn active mt-4"> В обране</a>
                </div>

                <div class="likes mt-4">
                    <!-- Кнопка для like -->
                    <div class="heart-icon ml-5 mt-4 mt-lg-0">
                        <a href="#"><i class="icon_like_alt" onclick="addReaction(event, this, @Model.School.SchoolID, true)"></i></a>
                        <p id="likes-count">Лайки: @Model.LikesCount</p>
                    </div>
                    <!-- Кнопка для dislike -->
                    <div class="heart-icon ml-5 mt-4 mt-lg-0">
                        <a href="#"><i class="icon_dislike_alt" onclick="addReaction(event, this, @Model.School.SchoolID, false)"></i></a>
                        <p id="dislikes-count">Дизлайки: @Model.DislikesCount</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Опис школи -->
        <div class="school-desc">
            <hr />
            <p class="article-details">@Model.School.Description</p>
        </div>


        <!-- Diagram and Statistic Area Start -->
        @if (Model.OlympiadDataByYear != null && Model.OlympiadDataByYear.Any())
        {
            <section class="breadcrumb-area section-padding-80">
                <div class="container">
                    <div class="col-12">
                        <h2 class="mb-30 school-title">Участь школи у Всеукраїнських Олімпіадах</h2>
                    </div>
                    <div class="container">
                        <div class="border-top mt-3"></div>
                    </div>

                    <div class="my-charts">
                        <div class="school-chart">
                            <canvas id="myChart" width="600" height="400"></canvas>
                            <script>
                                var years = @Html.Raw(Json.Serialize(Model.OlympiadDataByYear.Select(d => d.Year).ToArray()));
                                var counts = @Html.Raw(Json.Serialize(Model.OlympiadDataByYear.Select(d => d.Count).ToArray()));

                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: years,
                                        datasets: [{
                                            label: 'Кількість олімпіадників по роках',
                                            data: counts,
                                            backgroundColor: getRandomColorArray(8),
                                            borderColor: 'rgba(0, 0, 0, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });


                                function getRandomColorArray(length) {
                                    var colors = [];
                                    for (var i = 0; i < length; i++) {
                                        var color = 'rgba(' + getRandomNumber(0, 255) + ',' + getRandomNumber(0, 255) + ',' + getRandomNumber(0, 255) + ', 0.7)';
                                        colors.push(color);
                                    }
                                    return colors;
                                }

                                function getRandomNumber(min, max) {
                                    return Math.floor(Math.random() * (max - min + 1)) + min;
                                }

                                // Первоначальное обновление диаграммы при загрузке страницы
                                updateChart();

                            </script>
                        </div>

                        <div class="my-charts-sub">
                            <!-- Вторая диаграмма по количеству Math олимпиадников по предметам за года -->
                            <div class="school-chart">
                                <canvas id="mathChart" width="600" height="400"></canvas>
                                <script>
                                    var years = @Html.Raw(Json.Serialize(Model.OlympiadDataByMath.Select(d => d.Year).ToArray()));
                                    var counts = @Html.Raw(Json.Serialize(Model.OlympiadDataByMath.Select(d => d.Count).ToArray()));

                                    var ctx = document.getElementById('mathChart').getContext('2d');
                                    var mathChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: years,
                                            datasets: [{
                                                label: 'Кількість учасників олімпіади з математики по роках',
                                                data: counts,
                                                backgroundColor: getRandomColorArray(8),
                                                borderColor: 'rgba(0, 0, 0, 1)',
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    });

                                </script>
                            </div>

                            <!-- Вторая диаграмма по количеству Math олимпиадников по предметам за года -->
                            <div class="school-chart">
                                <canvas id="ukrChart" width="600" height="400"></canvas>
                                <script>
                                    var years = @Html.Raw(Json.Serialize(Model.OlympiadDataByUkr.Select(d => d.Year).ToArray()));
                                    var counts = @Html.Raw(Json.Serialize(Model.OlympiadDataByUkr.Select(d => d.Count).ToArray()));

                                    var ctx = document.getElementById('ukrChart').getContext('2d');
                                    var ukrChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: years,
                                            datasets: [{
                                                label: 'Кількість учасників олімпіади з української мови по роках',
                                                data: counts,
                                                backgroundColor: getRandomColorArray(8),
                                                borderColor: 'rgba(0, 0, 0, 1)',
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    });

                                </script>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p style=" text-align: end;"> *Дані взяті з сайту <a href="https://mon.gov.ua/npa/pro-rezultati-provedennya-iv-etapu-vseukrayinskih-uchnivskih-olimpiad-z-navchalnih-predmetiv-u-20182019-navchalnomu-roci">Міністерства Освіти і Науки (МОН)</a></p>
                    </div>
                </div>
            </section>
        }
        <!-- Diagram and Statistic Area End -->
        <!-- Google Maps Start -->
        <section class="breadcrumb-area section-padding-20">
            <div class="container">
                <div class="col-12">
                    <h2 class="mb-30 school-title">Школа на карті</h2>
                </div>
                <div class="container">
                    <div class="border-top mt-3"></div>
                </div>
                <div class="akame-google-maps-area mt-5">
                    <iframe src="@Model.School.Maps" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Area End -->

        <script>
            function addToFavorites(event, element, SchoolID) {

                event.preventDefault();

                fetch('/Ajax/AddFavorites', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ SchoolID: SchoolID })
                }).then(response => {
                    if (response.ok) {
                        element.style.color = '#4F9269';
                    } else {
                        alert('Помилка при додаванні у вибране.');
                    }
                });
            }

            function addToCompare(event, element, SchoolID) {

                event.preventDefault();

                fetch('/Ajax/AddCompare', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ SchoolID: SchoolID })
                }).then(response => {
                    if (response.ok) {
                        element.innerHTML = "";
                        element.textContent = "У порівнянні";
                    } else {
                        alert('Помилка при додаванні у порівняння.');
                    }
                });
            }

            function addReaction(event, element, SchoolID, isLike) {
                event.preventDefault();

                fetch('/Ajax/AddReaction', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ SchoolID: SchoolID, IsLike: isLike })
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Помилка при додаванні реакції. Cпочатку зареєструйтеся.');
                    }
                }).then(data => {
                    console.log(data); // Логируем данные для отладки
                    element.style.color = isLike ? '#4F9269' : '#FF0000'; // змінити колір залежно від реакції
                    document.querySelector('#likes-count').textContent = `Лайки: ${data.likesCount}`;
                    document.querySelector('#dislikes-count').textContent = `Дизлайки: ${data.dislikesCount}`;
                }).catch(error => {
                    alert(error.message);
                });
            }
        </script>
