@model SchoolFinderWeb.Models.School

@{
    ViewData["Title"] = "Профіль школи";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Профіль школи</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <i class="icon_house_alt"></i>
                                    Головна
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/profile">
                                    <i class=""></i>
                                    Профіль
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Профіль школи</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->


<section class="akame-portfolio section-padding-40 clearfix">
    <!-- Підтвердження -->
    <div class="school-desc" style="padding: 10px 0;">
        @if (@Model.isConfirmed)
        {
            <p class="article-details" style=" background-color: #31db5842; text-align: center; font-weight: 700;  padding: 15px;">
                Школу підтверджено та успішно додано на сайт!</p>
        }
        else
        {
            <p class="article-details" style=" background-color: #ffff0061; text-align: center; font-weight: 700;  padding: 15px;">
                Статус: В обробці. Зовсім скоро наш адміністратор перевірить надану інформацію та, за необхідності, зв'яжеться з Вами! </p>

        }
        <hr />
    </div>
    <div class="container">
        <div class="col-12">
            <h2 class="mb-30 school-title">@Model.Name</h2>
        </div>
        <div class="school-container p-3">
            <div class="school-details">
                <p class="school-detail">Адреса: @Model.Address</p>
                <p class="school-detail">Район: @Model.District</p>
                <p class="school-detail">Тип школи: @Model.Type</p>
                <p class="school-detail">Ціна: @Model.Price грн</p>
                <p class="school-detail">Формат навчання: @Model.Format</p>
                <p class="school-detail">Класи: @Model.Classes</p>
                <p class="school-detail">Группа продовженного дня: @Model.ExtendedDayGroups</p>
                <p class="school-detail">Додаткові освітні можливості: @Model.ExtendedDayGroups</p>
                <p class="school-detail">Поглиблене вивчення (гуманітарне, математичне тощо): @Model.Specialization</p>
                <p class="school-detail">Наявність додаткових освітніх можливостей: @Model.AdditionalOpportunities</p>
                <p class="school-detail">Наявність укриття: @Model.Shelter</p>
            </div>
            <div>
                <img src="~/img/core-img/school.png" alt="" width="256px">
            </div>
        </div>

        <!-- Опис школи -->
        <div class="school-desc">
            <hr />
            <p class="article-details">@Model.Description</p>
            <hr />
        </div>


    </div>
</section>

